name: Coverage Testing

on: [workflow_dispatch, push, pull_request]

permissions:
  contents: read

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [22]
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    name: Ubuntu - Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Install Global Dependencies
        run: npm install -g c8

      - name: Install Application (CI)
        run: npm ci

      - name: Run Coverage Testing
        run: npm run coverage

      - name: Codecov
        if: ${{ (success() || failure()) && github.event_name != 'pull_request' && env.CODECOV_TOKEN != '' && matrix.node == 22 }}
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -t ${CODECOV_TOKEN}
